<script>
$(document).ready(function() {
  $("#toc").append('<h1 class="titreToc">Table des matières</h1>') ; 
  $("#toc").append('<div class="list-group table-of-contents">') ; 
  $("h1").each(function(i) {
    var $current = $(this);
    if (!$current.hasClass("titreToc"))
    {
    $current.attr("id", "title" + i);

    $('#toc').append('<a class="list-group-item" id="link' + i + '" href="#title' + i + '" title="' + $current.attr('tagName') + '">' + $current.text() + '</a>');
    $current[0].innerHTML = $current[0].innerHTML + '<div class="btn-group btn-group-sm pull-right">\n   <a href="#" class="btn btn-primary">Remonter</a>\n </div>'; 
    }
  });

  $("#toc").append('</div>'); 
});
</script>

<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-12">
    <div id="toc"></div>
  </div>
</div>
